<section class="form-section coaches-section">
  <div class="coach-header">
    <h2 class="coach-title">Все тренеры</h2>
    <button class="btn-primary" onclick="openPopup('coachPopup')">+ Добавить тренера</button>
  </div>
  <div class="coach-list">
    {{#each treners}}
    <a href="/trener/{{this.id}}" class="coach-card" data-id="{{this.id}}" data-type="trener">
      <button class="delete-btn trener-{{this.id}}">&times;</button>
      <h3>{{this.fio}}</h3>
      <p>{{this.phone}}</p>
    </a>
    {{/each}}
  </div>
</section>

<!-- Скрытый контент для popup -->
<div id="coachPopup" style="display: none">
  <form method="post" class="trenerForm">
    <h3>Добавить тренера</h3>
    <input type="text" name="fio" placeholder="ФИО" required />
    <input type="text" name="phone" placeholder="Номер телефона" required />
    <input type="text" name="login" placeholder="Логин" required />
    <div class="password-wrapper">
      <input type="password" name="password" placeholder="Пароль" required />
      <button type="button" onclick="togglePasswordVisibility(this)">👁</button>
    </div>
    <button type="submit">Создать</button>
    <button type="button" onclick="closePopup()">Отмена</button>
  </form>
</div>


<script src="/scripts/treners.js"></script>